@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

span, p, a {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 5vw;
    text-align: center;
}
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    color:rgb(80, 80, 80);
}

h5 {
    font-family: 'Nunito', sans-serif;
}

h6 {
    font-family: 'Nunito', sans-serif;
}

#analytics-title {
    text-align: center;
    font-size: 1.5vw;
}

#analytics-subtitle {
    text-align: center;
    font-size: 1vw;
}

/*
#nav {
    display: flex;
    justify-content: center;
}
*/

#piano {
    min-height: 5em;
    min-width: 5em;
    display: flex;
    border: 2px solid black;
}

.key {
    min-height: 5em;
    min-width: 1em;
    background-color: rgb(191, 232, 255);
    border: solid 2px black;
    border-radius: 0.25em;
}

.graph-container {
    width: 500px;
    height: 250px;
    /*margin-left: calc(50vw - 250px);*/
    margin-bottom: 400px;
}

.row {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-item {
    text-decoration: none;
}

.button-row {
    display: flex;
}

#button-container {
    margin-left: 25%;
    margin-right: 25%;
    min-width: 50%;
    max-width: 50%;
}
#graph-wrapper {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;

  /*left: 30%;*/

  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  /*min-width: 20%;
  max-width: 20%;*/
  
  margin-top: 1%;
  margin-bottom: 1%;

}

.button-1.left {
    min-width: 20%;
    max-width: 20%;
    left: 25%;
}

.button-1.right {
    min-width: 20%;
    max-width: 20%;
    left: 35%;
}

.button-1.center {
    background-color: #4c7bea;
    min-width: calc(50% + 3px);
    max-width: calc(50% + 3px);
    left: 25%;
}
/*#F082AC;*/
/*
.button-1:hover,
.button-1:focus {
  background-color: skyblue; 
}

.button-1:active {
    background-color: skyblue;
}

#open-button:hover,
#open-button:focus {
  background-color: skyblue;
}

#open-button:active {
    background-color: skyblue;
}
*/

.nav-item {
    padding-left: 10%;
}

/*
@media (min-width: 1000px) {
    .graph-container {
        margin-left: calc(550px - )
    }
}
*/

.crux-logo {
    min-width: 250px;
    min-height: 250px;

    max-width: 250px;
    max-height: 250px;

    border-radius: 50%;
    border: solid 2px slategray;

    position: relative;
    left: calc(50% - 125px);
}

.text-wrapper {
    min-width: 50%;
    max-width: 50%;

    position: relative;
    left: 25%;

    text-align: center;

    padding-top: 1em;
    padding-bottom: 1em;
}

#avatar {
    margin-left: calc(50% - 25px);
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
    background-color: aquamarine;
    border: solid 2px slategray;
}
