@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

span, p, a {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 5vw;
    text-align: center;
}
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    color:rgb(80, 80, 80);
}

h5 {
    font-family: 'Nunito', sans-serif;
}

h6 {
    font-family: 'Nunito', sans-serif;
}

#analytics-title {
    text-align: center;
    font-size: 1.5vw;
}

#analytics-subtitle {
    text-align: center;
    font-size: 1vw;
}

/*
#nav {
    display: flex;
    justify-content: center;
}
*/

#piano {
    min-height: 5em;
    min-width: 5em;
    display: flex;
    border: 2px solid black;
}

.key {
    min-height: 5em;
    min-width: 1em;
    background-color: rgb(191, 232, 255);
    border: solid 2px black;
    border-radius: 0.25em;
}

.graph-container {
    width: 500px;
    height: 250px;
    /*margin-left: calc(50vw - 250px);*/
    margin-bottom: 400px;
}

.row {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-item {
    text-decoration: none;
}

.button-row {
    display: flex;
}

#button-container {
    margin-left: 25%;
    margin-right: 25%;
    min-width: 50%;
    max-width: 50%;
}
#graph-wrapper {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;

  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  margin-top: 1%;
  margin-bottom: 1%;

}

.button-1.left {
    left: calc((100vw - 1100px - 30px)/2);
    min-width: 550px;
    max-width: 550px;
}

.button-1.right {
    left: calc(((100vw - 1100px + 30px)/2));
    min-width: 550px;
    max-width: 550px;
}

.button-1.center {
    background-color: #4c7bea;
    margin-left: 10%;
    min-width: 80%;
    max-width: 80%;
}

.button-1.graph-centered {
    background-color: #4c7bea;
    left: calc(((100vw - 1130px)/2));
    min-width: 1130px;
    max-width: 1130px;
}

.nav-item {
    padding-left: 10%;
}

.crux-logo {
    min-width: 300px;
    min-height: 300px;

    max-width: 300px;
    max-height: 300px;

    border-radius: 50%;
    border: solid 2px slategray;
    background-color: skyblue;

    position: relative;
    left: calc(50% - 150px);
}

.text-wrapper {
    min-width: 50%;
    max-width: 50%;

    position: relative;
    left: 25%;

    text-align: center;

    padding-top: 1em;
    padding-bottom: 1em;
}

#checkerboard {
    opacity: 100%;
    margin: 2.5% 10% 2.5% 10%;
    min-width:80vw;
    max-width: 80vw;
    min-height: calc((108/192)*80vw);
    max-height: calc((108/192)*80vw);
    border-radius:1em;
    border: 2px solid gray;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/arasi-3c613.appspot.com/o/terrain.png?alt=media&token=55a12ee5-065d-4b5b-ae41-dab821bca355");
    background-size: 100% 100%;
    background-color: rgb(240, 250, 255);
}

#avatar {
    position: absolute;
    top: calc(10% + 6.5vw + 60px - ((335/500)*3.2vw) + (11*3.2vw));
    left: calc(10% + 40vw - 3.2vw);
    min-width: calc(2*(500/242)*3.2vw);
    max-width: calc(2*(500/242)*3.2vw);
    min-height: calc(2*(500/242)*3.2vw);
    max-height: calc(2*(500/242)*3.2vw);
    z-index: 10;
    /*
    position: absolute;
    top: calc(10% + 6.5vw + 60px - ((335/500)*3.2vw) + (13*3.2vw));
    left: calc(10% + 40vw - 3.2vw);
    min-width: calc((500/242)*3.2vw);
    max-width: calc((500/242)*3.2vw);
    min-height: calc((500/242)*3.2vw);
    max-height: calc((500/242)*3.2vw);
    z-index: 10;
    */
}

#training-ground {
    margin-top: 50%;
}

#sparkle {
    position: absolute;
    top: 30%;
    left: 40%;
    max-height: 100px;
}