<nav class="navbar navbar-dark bg-dark" style="border-radius: 0px; padding-right: 20%; min-height: 60px; max-height: 60px;">
    <!--Our website name-->
    <div class="container-fluid"></div>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">ARASI</a>
    </div>
    <!--Le buttons to each page-->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display:inline-block; min-width: 50%;">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/training">Training</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
</nav>
